@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$dark-blue: #333B50;
$green: #00D646;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: ;
}